In [1]:
                                        # Name :- Rohit Bhardwaj
                                       # Assignment Name :- Pandas Basic 



import pandas as pd

In [16]:
# Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

df1 = pd.Series([4,8,15,16,23,42])
df1

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [17]:
# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
# variable print it.


data = [4,8,15,16,17,45,34,23,12,11]
df2 = pd.Series(data)
df2

0     4
1     8
2    15
3    16
4    17
5    45
6    34
7    23
8    12
9    11
dtype: int64

In [15]:
type(df2)

pandas.core.series.Series

In [20]:
# Q3. Create a Pandas DataFrame that contains the following data:


import csv
data1 = [['Name','Age','Gender'],
        ['Alice',25,'Female'],
        ['Bob',30,'Male'],
        ['Claire',27,'Femail']
        ]

with open('data2.csv','w') as f:
    writer = csv.writer(f)
    for i in data1:
        writer.writerow(i)

In [23]:
df3 = pd.read_csv('data2.csv')
df3

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Femail

In [ ]:
# Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [24]:
# As noted in the table, a Pandas Series is a 1D array of data, but a 
# single-column DataFrame is a 2D table with one column.

# The main distinction between the two is this. For a single-column 

# DataFrame, an index can be optional, but a Series has to have an 
# index defined.

In [25]:
# Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
# you give an example of when you might use one of these functions?


# pd.read_csv()
# pd.read_excel()
# head()
# tail()
# shape()
# size()

In [26]:
# Q6. Which of the following is mutable in nature Series, DataFrame, Panel?




# The difference among Series, DataFrame, and panel

# Data Structure	  Dimensions	                Size

# Series	       One-dimensional array            Immutable
# Data Frame	  Two-dimensional array         	Mutable
# Panel	     Three-dimensional array	       Mutable

In [29]:
# Q7. Create a DataFrame using multiple Series. Explain with an example.

courses = pd.Series(["data_science","data_analitics","java with system disigne"], name='courses')
fees = pd.Series([22000,25000,23000], name='fees')
discount  = pd.Series([1000,2300,1000],name='discount')

df=pd.concat([courses,fees,discount],axis=1)
print(df)

                    courses   fees  discount
0              data_science  22000      1000
1            data_analitics  25000      2300
2  java with system disigne  23000      1000